# backup file
**.bak

# print log files
**.log

# acad misc
**.dwl
**.dwl2

# acad recovery files
**_recover**.dwg

# word temp
**.tmp
**~$*

# tianzheng
**.T

# PKPM output files
**/PROJECT*/*.tmp
**/PROJECT*/*.TMP
**/PROJECT*/*.log
**/PROJECT*/*.OUT
**/PROJECT*/*.out
**/PROJECT*/*.txt
**/PROJECT*/*.SPS
**/PROJECT*/*.bak1
**/PROJECT*/*.dat
**/PROJECT*/*.SATF
**/PROJECT*/CalcTemp
**/PROJECT*/动画目录
**/PROJECT*/施工图
**/PROJECT*/计算书资料
**/PROJECT*/模型额外备份
**/PROJECT*/PLT图文件
**/PROJECT*/LOADTEST
**/PROJECT*/*.ini
**/PROJECT*/*.pdf
**/PROJECT*/*.MID
**/PROJECT*/*.PRE
**/PROJECT*/*.JCV
**/PROJECT*/*.STS
**/PROJECT*/*.xml
**/PROJECT*/*.doc
**/PROJECT*/*.docx
**/PROJECT*/*.BMP
**/PROJECT*/*.RFH
**/PROJECT*/*.SAT
!**/PROJECT*/bgl-bysj.SAT
**/PROJECT*/*.PDB
**/PROJECT*/*.MAP
**/PROJECT*/*.zip
**/PROJECT*/*.json
**/PROJECT*/*.FNM
**/PROJECT*/*.CFG
**/PROJECT*/*.STA
**/PROJECT*/APSRM.BWS
**/PROJECT*/.B
**/PROJECT*/$$$BASE$$$
**/PROJECT*/*.[0123456789]*
## IGNORE ALL PKPM
#**/PROJECT*/

# acad files outputed for merge(bind) externalReference
建筑设计/print-settings/outputs

# 论文翻译的PDF版本
论文翻译/毕业设计论文翻译.pdf

# 往届资料
往届资料

# 提交
提交
