# backup file
**.bak

# print log files
**.log

# acad misc
**.dwl
**.dwl2

# acad recovery files
**_recover**.dwg

# word temp
**.tmp
**~$*

# tianzheng
**.T

# PKPM output files
**.tmp
**.TMP
**.log
**.SAT
**.OUT
**.out
**.txt
**.SPS
**.bak1
**.dat
**.SATF
**/CalcTemp
**/动画目录
**/施工图
**/计算书资料
**/模型额外备份
**/PLT图文件
## IGNORE ALL PKPM
**/PROJECT*/

# acad files outputed for merge(bind) externalReference
建筑设计/print-settings/outputs

# 论文翻译的PDF版本
论文翻译/毕业设计论文翻译.pdf

# 往届资料
往届资料

# 提交
提交
